# core
NODE_ENV=
# mygateway.xyz
MYGATEWAY_ENDPOINT_URL=
MYGATEWAY_API_KEY=
MYGATEWAY_AUTHENTICATION_TOKEN=
POKT_ORG_GATEWAY_ID=
# arweave
IRYS_NETWORK_URL=
IRYS_RPC_PROVIDER= # ONLY DEVNET
EVM_WALLET_PRIVATE_KEY=